/*============================================
        common css part start here
==============================================*/
* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.clr {
  clear: both;
}

.container {
  max-width: 1220px;
}

/*============================================
        common css part ends here
==============================================*/
/*============================================
        all typography css part start here
==============================================*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

/*============================================
        all typography css part ends here
==============================================*/
/*============================================
         css part start here
==============================================*/
#banner_part {
  width: 100%;
  background: rebeccapurple;
}
#banner_part .banner_body {
  background-image: url(../images/banner/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner_part .banner_body .banner_main {
  padding: 250px 0;
  text-align: right;
}
#banner_part .banner_body .banner_main h1 {
  color: #000;
  font-size: 65px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
#banner_part .banner_body .banner_main p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  padding-top: 10px;
}
#banner_part .banner_body .banner_main .ban_btn {
  margin-top: 25px;
}
#banner_part .banner_body .banner_main .ban_btn a {
  color: #fff;
  background: #F15B22;
  text-transform: capitalize;
  border: 1px solid #F15B22;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
#banner_part .banner_body .banner_main .ban_btn a:hover {
  transition: 0.5s;
  color: #F15B22;
  background: #fff;
  border-color: #F15B22;
}

/*============================================
         css part ends here
==============================================*/
/*============================================
        failure css part start here
==============================================*/
#failure_part {
  width: 100%;
  margin-top: 150px;
}
#failure_part .failure_body .failure_main .row .col-lg-6 .failure_img img {
  width: 80%;
}
#failure_part .failure_body .failure_main .row .col-lg-6 .failure_details {
  margin-top: 180px;
}
#failure_part .failure_body .failure_main .row .col-lg-6 .failure_details h3 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
}
#failure_part .failure_body .failure_main .row .col-lg-6 .failure_details p {
  padding-top: 15PX;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  line-height: 1.5rem;
}
#failure_part .failure_body .failure_main .row .col-lg-6 .failure_details .fail_list ul {
  padding-left: 0;
}
#failure_part .failure_body .failure_main .row .col-lg-6 .failure_details .fail_list ul li {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  line-height: 1.5rem;
}
#failure_part .failure_body .failure_main .row .col-lg-6 .failure_details .fail_list ul li i {
  padding-right: 10px;
  color: #16D887;
}

/*============================================
        failure css part ends here
==============================================*/
/*============================================
        plan css part start here
==============================================*/
#plan_part {
  width: 100%;
  margin-top: 100px;
}
#plan_part .plan_body .plan_main .plan_head {
  text-align: center;
}
#plan_part .plan_body .plan_main .plan_head h3 {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Work Sans", sans-serif;
}
#plan_part .plan_body .plan_main .row {
  margin-top: 50px;
}
#plan_part .plan_body .plan_main .row .col-lg-3 {
  text-align: center;
}
#plan_part .plan_body .plan_main .row .col-lg-3 .plan_img img {
  width: 60px;
  height: 60px;
}
#plan_part .plan_body .plan_main .row .col-lg-3 .plan_text {
  padding-top: 10px;
}
#plan_part .plan_body .plan_main .row .col-lg-3 .plan_text h4 {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 0;
}
#plan_part .plan_body .plan_main .row .col-lg-3 .plan_text p {
  color: #737272;
  font-size: 20px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}
#plan_part .plan_body .plan_main .row .col-lg-3:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/*============================================
        plan css part ends here
==============================================*//*# sourceMappingURL=style.css.map */