/*============================================
         css part start here
==============================================*/
#banner_part{
    width: 100%;
    // height: 450px;
    background: rebeccapurple;
    .banner_body{
        background-image: url(../images/banner/banner1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .banner_main{
            padding: 250px 0;
            text-align: right;
            h1{
                color: #000;
                font-size: 65px;
                font-weight: 700;
                font-family: 'Open Sans', sans-serif;
                text-transform: capitalize;
            }
            p{
                color: #757575;
                font-size: 16px;
                font-weight: 400;
                font-family: 'Open Sans', sans-serif;
                line-height: 1.5rem;
                padding-top: 10px;
            }
            .ban_btn{
                margin-top: 25px;
                a{
                    color: #fff;
                    background: #F15B22;
                    text-transform: capitalize;
                    border: 1px solid #F15B22;
                    border-radius: 5px;
                    text-decoration: none;
                    padding: 10px 15px;
                    font-size: 18px;
                    font-family: 'Open Sans', sans-serif;
                    &:hover{
                        transition: .5s;
                        color: #F15B22;
                        background: #fff;
                        border-color: #F15B22;
                    }
                }
            }

        }
    }
}
/*============================================
         css part ends here
==============================================*/